@import 'reset'

@import 'mixins'

@import 'var'

@import 'fonts'

html, body
	width 100vw
	// min-width 1360px
body
	font-family: $main-font
	color $can-push
	background-color #FBFBFB
	font-weight 400
	width 100vw

@import 'ui'
