@import 'dist/reset'

font-face(fontFamily, fileName, fontWeight = normal, fontStyle = normal, path = '/fonts/',svgLabel='')
	@font-face
		font-family fontFamily
		src url(path + fileName + '.ttf') format("truetype")
		font-weight fontWeight
		font-style fontStyle

font-face('font', 'font')

os = 'font', cursive

html
	width 100%
	width 100vw
body
	font-family: os
	font-size 0
	width 100%
	width 100vw
	