$green = #38D61E
$red = #ED1B2E
$blue = #0091CD
$yellow = #FFC20E

$main-font = 'Ruda', sans-serif


$small-desktop()
    @media (max-width: 1300px)
        {block}
$tablet()
    @media (max-width: 1080px)
        {block}
$small-tablet()
    @media (max-width: 850px)
        {block}
$phone()
    @media (max-width: 600px)
        {block}
$small-phone()
    @media (max-width: 350px)
        {block}
